/*Body - Blog*/

.blog-title {
    color: white;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 70px
}

.blog-description {
    color: $font-color;}

h2 .accordion-button{
    background-color: #9bd4c0;
}