/*Body - Contacto*/

.contact-container{
    color: $font-color;
    margin-top: 100px;
    margin-bottom: 100px;
}

.contact-container h1{
    text-align: center;
    margin-bottom: 100px;
}

.contact-description{
    margin-right: 100px;
}

