/*BODY - HOME*/

.grid-container div{
    background-color: $secondary;
    border: solid 2px;
    border-color: $principal;
    padding: 5px;
    margin: 0px;
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

}

.grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 250px 562px 400px;
    gap: 5px;
    grid-template-areas:
    "eins eins"
    "zwei drei"
    "vier fuenf"
}




.item-1{
    grid-area: eins;
    background-image: url(../images/BackgroundImage.png);
    color: $font-color;
    }


/*Home-Animciones*/

.fade-in{
    animation-duration: 2s;
    animation-name: fade-in-banner
}

@keyframes fade-in-banner{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.button-services{
    background-color: $secondary;
    border-color: $secondary;
    border-radius: 5px;
    margin: auto;
    margin-top: 30px;
    padding: 12px;
    text-transform: uppercase;
    text-decoration: none;
    
}


.item-1 h1{
    margin-top: 30px;
    height: 50px;
}

.item-1 h2{
    margin-top: 0px;
    
}

.item-2{
    grid-area: zwei;
    align-content: space-evenly;
    flex-basis: 50%;
}

.item-2 h3{
    padding-bottom:0px;
}

.item-3{
    grid-area: drei;
    background: url(../images/Dammer);
    margin-left: auto;
    margin-right: auto;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}


.item-4{
    grid-area: vier;
    flex-basis:1;
}

.item-5{
    grid-area: fuenf;
    flex-basis:1;
}


/*Media Queries - HOME*/

@media only screen and (max-width: 1000px) {
    .grid-container{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 562px 1fr 1fr;
        grid-template-areas: 
        "eins"
        "zwei"
        "drei"
        "vier"
        "fuenf";
    }
}