/*BODY - SERVICIOS*/

/*BODY - SERVICIOS*/

.about-title {
    color: white;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 70px
}

.container-acercade {
    margin-bottom: 100px;
}


.container li {
    text-align: left;
    margin-left: 20px;
    margin-bottom: 20px;
}

.service-containers {
    background-color: #222;
    text-align: center;
    color: #fff;
    border: solid 2px white;
    margin-bottom: 10px;
}

.row-2 {
    margin-bottom: 80px;
}